body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    margin-bottom: 60px;
}

.allContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebebeb;
}

.messageOverlay{
    background-color: var(--background-pink);
    border: var(--orange) 2px ridge;
    width: 280px;
    height: 200px;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    border-top: 0.5px solid #bebebe;
    border-left: 0.5px solid #bebebe;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    z-index: 10;
}

.messageQuestion{
    text-align: center;
    font-size: 28px;
}

.buyAndCancelButtons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    
}

.buyOrCancelOrder{
    height: 30px;
    width: 80px;
    border-radius: 8px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in;
}

.buyOrCancelOrder:hover{
    height: 30px;
    width: 80px;
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}


nav {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    background-image: url(./assets/img/fireinthehole.jpg);
    cursor: pointer;
}

.nav_div {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}


.nav_image {
    height: 160px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 20px;
    filter: invert(1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.nav_span {
    color: black;
    -webkit-text-stroke: 1px #ffffff;
    font-size: 72px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 60px;
}

.restaurantContent {
    width: 100%;
    height: 100%;
    max-width: 2515px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textShadow {
    font-size: 48px;
    padding-left: 24px;
    display: flex;
    -webkit-text-stroke: 0.4px aliceblue;
    margin-left: 10px;
}

.textShadowAppraisal {
    padding-left: 0;
    display: flex;
    -webkit-text-stroke: 0.2px aliceblue;
    margin-left: 10px;
    margin-bottom: 10px;
}


.foodContent {
    height: 100%;
    min-height: 100%;
    width: calc(100% - 340px);
    margin: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}


.cartContent {
    position: sticky;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.flydemoMain {
    background: url(./assets/img/fireinthehole.jpg) repeat-x;
    width: 100%;
    max-width: 2480px;
    margin: 20px;
    border-radius: 20px 20px 0 0;
    height: 100px;
    animation: flybirds 50s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
}

.flydemo {
    background: url(./assets/img/fireinthehole.jpg) repeat-x;
    width: 100%;
    margin: 20px;
    border-radius: 20px 20px 0 0;
    height: 100px;
    animation: flybirds 50s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
}

@keyframes flybirds {
    from {
        background-position: 400px -120px
    }

    to {
        background-position: 0px 0px
    }
}

.flydemoFCRepair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
}

.foodCard {
    width: 100%;
    height: 200px;
    opacity: 0.99;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 24px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    border-top: 0.5px solid #bebebe;
    border-left: 0.5px solid #bebebe;
    border-radius: 0 20px 20px 0;
}

.foodCard:hover {
    width: 100%;
    height: 200px;
    background-color: #feebdf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 24px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 2px 0px 8px rgba(0, 0, 0, 0);
    border-top: 0.5px solid #bebebe;
    border-left: 0.5px solid #bebebe;
    border-radius: 0 20px 20px 0;
}

.foodCardButton {
    height: 50px;
    width: 50px;
    margin-right: 30px;
}



.foodCardImage {
    position: absolute;
    padding-left: 10px;
    opacity: 0.4;
    width: calc(100% - 380px);
    max-width: 2135px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

.foodCardButtonToCart {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodCardButtonToCartImg {
    height: 50px;
    width: 50px;
    border-radius: 28px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in;
}

.foodCardButtonToCartImg:hover {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 28px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-out;
}

.foodCardInfo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.infoFood {
    height: 100px;
    width: 94%;
    font-weight: 400;
    align-items: flex-start;
    overflow: auto;
}

.nameFood {
    font-size: 32px;
    margin-bottom: 2px;
}

.ingredientsFood {
    font-weight: 600;
}

.preisFood {
    font-size: 22px;
}


.cartLabel {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color:  var(--orange);
    transition: background-color 0.3s ease-in;
    border:  var(--orange) 1px solid;
    display: flex;
    justify-content: center;
}

.cartLabel:hover {
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 8px #21201826;
    background-color: var(--background-pink);
    transition: background-color 0.3s ease-out;
    border: black 1px solid;
    display: flex;
    justify-content: center;
}


.foodCart {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 8px #21201826;
    border-top: 0.5px solid #e6e6e6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.cartButtonsTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.cartButtonsTotalAmount {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.foodCartButtons {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color:  var(--orange);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-in;
}


.foodCartButtons:hover {
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-out;
}

.foodCartButtonDelete {
    background-color: #ffffff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodCartButtonDelete:hover {
    border-radius: 7px;
    box-shadow: 0 4px 20px 0 rgb(255, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodCartBilling {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.foodCartBill {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------------------------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a2a2a2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--orange);
}

input:focus+.slider {
    box-shadow: 0 0 1px  var(--orange);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------------------------------------- */

.shopTitle {
    font-size: 30px;
    padding-left: 0px;
}

.shopPoints {
    font-size: 14px;
    padding-left: 0px;
}



footer {
    height: 50px;
    width: 100%;
    background-color:  var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.footer_span {
    height: 30px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    -webkit-text-stroke: 0.3px rgb(95, 95, 95);
    margin-top: 2px;
}



.buttonOrder {
    width: 100%;
    margin-top: 10px;

}

.buttonCart {
    right: 0;
    width: 300px;
    border-top: #a2a2a2 1px solid;
}


.warenkorb {
    width: 100%;
    background-color:  var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in;
    border-radius: 3px;
    border: none;

}

.warenkorb:hover {
    width: 100%;
    background-color:  var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-out;
    border: none;

}


.warenkorbP {
    height: 32px;
    width: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    left: -23px;
    top: -4px;
}

.shopping-cart {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* 
@media only screen and (min-width: 1300px) {
}
   

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

@media only screen and (max-width: 1300px) {

    .restaurantContent {
        flex-direction: column;
        padding: 0;
    }

    .foodContent {
        width: 100%;
        margin: 0;
    }

    .foodCardImage {
        width: 96%;
    }

    .buttonCart {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
    }

    .renderCartContent {
        display: none;
    }

    .renderBillContent {
        display: none;
    }
}



/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    nav {
        height: 90px;
    }

    .nav_div {
        justify-content: center

    }

    .flydemoMain {
        height: 50px;
    }

    .flydemoMain{
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .flydemo {
        height: 50px;
        border-radius: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .nav_image {
        height: 80px;
        width: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav_span {
        font-size: 36px;
        font-weight: 500;
        padding-right: 4px;
        padding-left: 4px;

    }

    .shopTitle {
        font-size: 16px;
        justify-content: center;
    }

    .textShadowAppraisal {
        font-size: 12px;
        justify-content: center;
    }

    .renderFoodContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .foodCardImage {
        height: 120px;
        width: 80%;
        left: 10px;
        opacity: 0.4;
        object-fit: fill;
        border-radius: 50px 0 0 50px;
        margin: 0;
        padding: 0;
    }

    .infoFood {
        display: none;
    }

    .foodCard {
        height: 140px;
        border-radius: 0 50px 50px 0;
    }

    .foodCard:hover {
        height: 140px;
        border-radius: 0 50px 50px 0;
    }

    .nameFood {
        font-size: 28px;
        padding-left: 10px;
    }
    .preisFood{
        padding-left: 10px;
    }

    .ingredientsFood {
        display: none;
    }
    .foodCardInfo{
        padding: 0;
        justify-content: center;
    }
    .foodCardButton{
        margin: 0;
        margin-left: 10px;
        margin-right: 20px;
    }
    .cartContent{
        margin: 0;
    }
    .cartTextCenter {
        word-wrap: break-word;
    
    }
   
 
}