*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto';

}

a {
    text-decoration: none;
    color: #000;
}


.df{
    display: flex;
}

.fdc{
    flex-direction: column;
}

.displayNone{
    display: none;
}

.displayBlock{
    display: block;
}

.aic{
    align-items: center;
}

.ais{
    align-items: start;
}

.jcc{
    justify-content: center;
}

.jcfs{
    justify-content: flex-start;
}

.flexDirCol{
    flex-direction: column;
}

.flexdirRow{
    flex-direction: row;
}

.margin0{
    margin: 0;
}

.padding0{
    padding: 0;
}

.positionFixedBottom{
    position: fixed;
    left: 0;
    bottom: 0;
    /* z-index: 1; */
    width: 100%;
}

.positionFixedTop{
    position: fixed;
    left: 0;
    top: 0px;
    /* z-index: 1; */
    width: 100%;
    height: 56px;
}

.dNone{
display: none;
}

.dBlock{
    display: block;
}