*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto';

}

a {
    text-decoration: none;
    color: #000;
}


.df{
    display: flex;
}

.fdc{
    flex-direction: column;
}

.displayNone{
    display: none;
}

.displayBlock{
    display: block;
}

.aic{
    align-items: center;
}

.jcc{
    justify-content: center;
}

.flexDirCol{
    flex-direction: column;
}

.flexdirRow{
    flex-direction: row;
}

.margin0{
    margin: 0;
}

.padding0{
    padding: 0;
}

